@import "../../../../styles/mixins.scss";

.shopping-cart {
  margin-left: 5px;
  height: 100%;

  &__basket {
    position: relative;
    cursor: pointer;
    border-radius: 50%;
  }

  &__counter {
    position: absolute;
    z-index: 10;
    top: -6px;
    right: -8px;
    font-weight: 400;
    border-radius: 50%;
    background-color: #00a046;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    @include col_fs(white, 12px);
    @include w_h(18px, 18px);
    @include df_jc_ai(flex, center, center);
  }
}
